@import "libs/hint.css";



body {
  background-color: #222;
  color: #fafafa;
}

:local(.main){
  background-image: url(img/redux.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}